* {
  box-sizing: border-box;
  font-family: 'Noto Serif', serif;
}

.container {
  margin: 17px;
}

header {
  background: #2D3945;
  margin: 0;
  text-align: center;
  padding: 25px;
}

header h1 {
  color: white;
  margin: 0 auto;
  font-size: 20px;
  text-transform: uppercase;
}

.sec1 {
  text-align: center;
  margin-bottom: 25px;
}

legend {
  padding: 20px 0px 20px 0px;
  font-size: 20px;
  font-weight: bold;
}

p {
  margin: 0 auto;
}

label, p {
  color: #6c757d;
}

.border {
  height: auto;
  width: 100%;
  border-top: 4.5px solid #2D3945;
  border-bottom: 2px solid #2D3945;
  padding: 1.5px;
}

::-webkit-input-placeholder {
   font-style: italic;
   padding-right: 3px;
   text-align: right;
}
:-moz-placeholder {
   font-style: italic;
   padding-right: 3px;
   text-align: right;
}
::-moz-placeholder {
   font-style: italic;
   padding-right: 3px;
   text-align: right;
}
:-ms-input-placeholder {
   font-style: italic;
   padding-right: 3px;
   text-align: right;
}

.sec2 label {
  display: block;
  margin-bottom: 7px;
  margin-top: 10px;
}

.sec2 input,
.sec2 select {
  width: 100%;
  padding: 15px;
  border: transparent;
  border-radius: 5px;
  background: #EFF0F1
}

input {
  transition-duration: .5s;
}

form {
  border: inherit;
}

.sec2 input:focus,
.sec2 label:focus,
.sec2 select:focus,
.sec2 option:focus  {
  text-align: left;
  background: lightgrey;
  outline: none;
  box-shadow: 0 0 10px #46698B;
  border: 1px #46698B solid;
}

.sec2 select {
  max-width: 100%;
  width: 100%;
  color: #7c8c9c;
}

.sec3 label {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-block;
}

.sec3 label:last-of-type {
  margin: 10px 0px 10px 0px;
}

.sec3 p {
  margin-bottom: 10px;
  margin-top: 10px;
}

.sec3 textarea {
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 0;
  background: #EFF0F1;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.sec3 textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #46698B;
  border: 2px #46698B solid;
}

button {
  width: 100%;
  background: #4EBBB5;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 25px 0;
  font-size: 20px;
  font-weight: bold;
}

.copy {
  text-align: center;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

hr {
  margin-top: 40px;
  margin-bottom: 20px;
  border: solid black 1px;
}

@media screen and (min-width: 768px) {
    .sec2 label {
      display: inline-block;
  }

  .container {
    padding-top: 40px;
    width: 60%;
    margin: auto;
    background: linear-gradient(180deg, rgba(162,162,162,1) 0%, rgba(255,255,255,1) 10%);
  }

  .input-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sec2 input,
  .sec2 select {
    width: 70%;
  }

  #zip {
    width: 30%;
    margin-right: 40%;
  }

}
